---
interface Props {
  title: string;
  description: string;
  image?: string;
  canonicalURL?: string | URL;
  type?: 'website' | 'article';
  author?: string;
  pubDate?: Date;
}

const {
  title,
  description,
  image = '/social-image.png',
  canonicalURL = new URL(Astro.url.pathname, Astro.site || Astro.url),
  type = 'website',
  author,
  pubDate,
} = Astro.props;
import { readData } from "../lib/readData";
const siteConfig = readData('siteConfig.json', {});
const faviconSrc = siteConfig.favicon || "/favicon.svg";
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" href={faviconSrc} />
<meta name="google-site-verification" content="SC6OgiBH9pfSdvdaW8uVfCv_It4NTpbt4MuFUocGuMU" />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />
<link rel="sitemap" href="/sitemap.xml" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={type} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.site || Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.site || Astro.url)} />

<!-- Schema.org JSON-LD -->
<script type="application/ld+json" set:html={JSON.stringify({
  "@context": "https://schema.org",
  "@type": type === 'article' ? 'Article' : 'WebSite',
  "url": canonicalURL,
  "name": title,
  "headline": title,
  "description": description,
  "image": new URL(image, Astro.site || Astro.url),
  ...(author && { "author": { "@type": "Person", "name": author } }),
  ...(pubDate && { "datePublished": new Date(pubDate).toISOString() })
})} />
